<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&amp;display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/style.css" type="text/css" />
        <script src="/scripts/script.js" type="text/javascript" defer>
        </script>
    </head>

    <body>
        <form method="POST" action="/demo_3">
        <div class="container">
            <div class="header">
                <div class="set">
                    <div>
                        DEMO SET 3 OUT OF 4
                    </div>
                </div>
                <div class="explanation">
                    You will next rate the impressions according to their <b>STYLISTIC QUALITY</b>. <br/> 
                    Select the different options to see which impression would qualify for each of the ratings. <br/>
                    Click <b>SUBMIT</b> to continue.
                </div>
            </div>
            <div class="content">
                <div class="col-1">
                    <div class="source">
                        <div class="title">
                            Source
                        </div>
                        <div class="text">
                            <div class="subsection">
                                <div class="subheading">
                                    EXAM
                                </div>
                                <div class="text">
                                    CT CHEST WITH CONTRAST                                
                                </div>
                            </div>
                            <div class="subsection">
                                <div class="subheading">
                                    CLINICAL HISTORY
                                </div>
                                <div class="text">
                                    Cancer surveillance (no evidence of disease, no new symptoms)
                                </div>
                            </div>
                            <div class="subsection">
                                <div class="subheading">
                                    COMPARISON
                                </div>
                                <div class="text">
                                    CT chest 1/3/2022.                                
                                </div>
                            </div>

                            <div class="subsection">
                                <div class="subheading">
                                    FINDINGS
                                </div>
                                <div class="text">
                                    LUNGS: <br/>
                                    Overall decreased extent of waxing and waning clustered centrilobular nodules and tree-in-bud opacities, for example increased within the lingula but decreased within the right upper lobe. <br/>
                                    Unchanged more discrete juxtapleural solid nodules, including a 4 mm right lower lobe nodule (series 6, image 194), unchanged dating back to 3/6/2018, and favored to be benign. <br/>
                                    PLEURA: <br/>
                                    No pleural effusion or pneumothorax. <br/>
                                    MEDIASTINUM: <br/>
                                    No lymphadenopathy. <br/>
                                    HEART/GREAT VESSELS: <br/>
                                    Unchanged heart size. No pericardial effusion. Mild coronary calcifications. Normal caliber ascending aorta and main pulmonary artery. Interval removal of right internal jugular chest port, with residual fibrin sheath along the catheter course within the right internal jugular and brachiocephalic veins. <br/>
                                    BONES/SOFT TISSUES: <br/>
                                    No suspicious lesions. <br/>
                                    VISIBLE ABDOMEN: <br/>
                                    Please see dedicated Abdomen and Pelvis CT report.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="clinical">
                        <div class="title">
                            Clinical Accuracy
                        </div>
                        
                        <div class="button-row">
                            <input type="radio" id="clinical-1" name="clinical" value="frankly misleading" required="required" disabled/>
                            <label for="clinical-1">FRANKLY MISLEADING</label>
                            <input type="radio" id="clinical-2" name="clinical" value="inaccurate" required="required" disabled/>
                            <label for="clinical-2">INACCURATE</label>
                            <input type="radio" id="clinical-3" name="clinical" value="mostly accurate" required="required" disabled/>
                            <label for="clinical-3">MOSTLY ACCURATE</label>
                            <input type="radio" id="clinical-4" name="clinical" value="accurate" required="required" disabled checked/>
                            <label for="clinical-4">ACCURATE</label>
                        </div>
                    </div>
                    <div class="grammatical">
                        <div class="title">
                            Gramatical Accuracy
                        </div>
                        <div class="button-row">
                            <input type="radio" id="grammatical-1" name="grammatical" value="frankly misleading" required="required" disabled/>
                            <label for="grammatical-1">FRANKLY MISLEADING</label>
                            <input type="radio" id="grammatical-2" name="grammatical" value="inaccurate" required="required" disabled/>
                            <label for="grammatical-2">INACCURATE</label>
                            <input type="radio" id="grammatical-3" name="grammatical" value="mostly accurate" required="required" disabled/>
                            <label for="grammatical-3">MOSTLY ACCURATE</label>
                            <input type="radio" id="grammatical-4" name="grammatical" value="accurate" required="required" disabled checked/>
                            <label for="grammatical-4">ACCURATE</label>
                        </div>
                    </div>
                    <div class="quality">
                        <div class="title">
                            Stylistic Quality
                        </div>
                        <div class="button-row">
                            <input type="radio" id="quality-1" name="quality" value="very unsatisfactory" required="required" onclick="demo_3()"/>
                            <label for="quality-1">VERY UNSATISFACTORY</label>
                            <input type="radio" id="quality-2" name="quality" value="unsatisfactory" required="required" onclick="demo_3()"/>
                            <label for="quality-2">UNSATISFACTORY</label>
                            <input type="radio" id="quality-3" name="quality" value="mostly satisfactory" required="required" onclick="demo_3()"/>
                            <label for="quality-3">MOSTLY SATISFACTORY</label>
                            <input type="radio" id="quality-4" name="quality" value="satisfactory" required="required" onclick="demo_3()" checked/>
                            <label for="quality-4">SATISFACTORY</label>
                        </div>
                    </div>
                    <div class="impression">
                        <div class="impression-row" style="display: flex; align-items: center">
                            <div class="title">
                                Impression
                            </div>
                            <div class="timer-container">
                                <div class="timer-title">EDIT TIME:</div>
                                 <div class="timer">00:00.00</div>
                            </div>
                        </div>
                            <textarea id="edited_impression" name="edited_impression" onclick="start()" onblur="stop()" disabled>1. No evidence of metastatic disease to the chest.&#013;2. Overall decreased extent of waxing and waning clustered centrilobular nodules and tree-in-bud opacities, compatible with ongoing but improving chronic infection.</textarea>
                    </div>
                    <input name="user_id" value="<%= user_id %>" type="hidden" />       
                    <input name="current_set" value="<%= current_set %>" type="hidden" />  
                    <input name="edit_time" type="hidden" id="edit_time"/>
                    <div class="submit">
                        <input type="submit" value="SUBMIT"/>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </body>
</html>