<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&amp;display=swap" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="/css/style.css"/>
    </head>
    <body>
        <form method="POST" action="/login">
            <div class="container">
                <div class="col">
                    <div class="title">
                        <h1>
                            RadSum<span><sup>EVAL</sup></span>
                        </h1>
                    </div>
                    <div class="access">
                        <div>
                            <p> Access Token </p>
                            <input type="password" name="token" />
                        </div>
                            <input type="submit" value="LOGIN"/>
                    </div>
                </div>
            </div>
        </form>
    </body>
</html>